@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br" class="mainHTML_element">
<head>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet" type="text/css">

    <base href="/" />

    <!-- CSS -->
    <link href="/css_vendor/angular-material.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

</head>
<body>
    <div id="ng-app" ng-app="basicaspa" ng-controller="rootCtrl as ctrlr" ng-cloak class="md-padding">

        <div id="main" class="container body-content">
            <div>
                <div class="page page-home" ng-view="">
                    <div class="row ng-scope">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/js_vendor/modernizr.js"></script>
    <script src="/js_vendor/angular.js"></script>
    <script src="/js_vendor/angular-animate.js"></script>
    <script src="/js_vendor/angular-aria.js"></script>
    <script src="/js_vendor/angular-material.js"></script>
    <script src="/js_vendor/angular-file-upload.js"></script>
    <script src="/js_vendor/angular-route.js"></script>

    <script src="/spa/_modules/common.core.js"></script>
    <script src="/spa/_modules/common.ui.js"></script>
    <script src="/spa/_modules/ngLocale.js"></script>

    <script src="/spa/app.js"></script>
    <script src="/spa/home/rootCtrl.js"></script>
    <script src="/spa/home/indexCtrl.js"></script>
    <script src="/spa/register/registerCtrl.js"></script>

    <script src="/spa/_services/basica.directive.js"></script>
    <script src="/spa/_services/basica.filter.js"></script>
    <script src="/spa/_services/basica.service.js"></script>
    <script src="/spa/_services/api.service.js"></script>
    <script src="/spa/_services/notification.service.js"></script>
    <script src="/spa/_services/uploadfile.service.js"></script>

</body>
</html>
